<div class="container">
  <div class="panel">
    <h3>Gnome details</h3>
  </div>

  <table class="table">

    <tbody>

      <tr>
        <td class="head">Photo</td>
        <td>
          <img img-cache img-cache-src="{{ data.thumbnail }}">
        </td>
      </tr>
      <tr>
        <td class="head">Name</td>
        <td>{{ data.name }}</td>
      </tr>
      <tr>
        <td class="head">Age</td>
        <td>{{ data.age }}</td>
      </tr>
      <tr>
        <td class="head">Weight</td>
        <td>{{ data.weight }}</td>
      </tr>
      <tr>
        <td class="head">Height</td>
        <td>{{ data.height }}</td>
      </tr>
      <tr>
        <td class="head">Hair color</td>
        <td> {{ data.hair_color }}</td>
      </tr>
      <tr>
        <td class="head">Professions</td>
        <td> {{ data.professions }}</td>
      </tr>
      <tr>
        <td class="head">Friends</td>
        <td> {{ data.friends }}</td>
      </tr>
    </tbody>
  </table>
</div>
