.head {
  background-color: #4f6780;
  color: white;
  line-height: 3em;
  border: 2px solid white;
  height: 2em;
}

img {
  display: block;
  max-width: 230px;
  max-height: 195px;
  width: auto;
  height: auto;
}
