.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8 {
  background-color: #4f6780;
  color: white;
  line-height: 3em;
  border: 1px solid white;
  height: 3em;
}

.head {
  background-color: #0a1520;
  color: white;
  line-height: 3em;
  border: 1px solid white;
  height: 3em;
}

.filt {
  background-color: white;
  color: white;
  line-height: 3em;
  border: 0px solid white;
  height: 3em;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}
